@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header> h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}


header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
    
}

section.normal{
    color: rgb(8, 8, 8);
    background-color: white;

}



section.imagem{
    color: white;
    background-color: rgb(41, 28, 28);
}

section.imagem>p{
    background-color: black;
    width: 400px;

}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}